<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <!-- <li><a href="./join.html" class="button primary">Join Us</a></li> -->
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style3">
      <div class="container">
        <header class="major">
          <h2>Choose Subscription</h2>
          <p>Choose the subscription that best suits you</p>
        </header>
        <section>
          <!-- <h3>Form</h3> -->
          <form action="/user/auth/signin/local" method="post">
            <div class="row aln-center aln-middle gtr-uniform gtr-75">
                <div class="col-6 col-12-xsmall">
                    <ul class="actions fit">
                        <li><a href="/subscribe/user-details/499" class="button primary fit pad-top">
                            <h1><strong>Group of 20 Batch - Rs 499 only </strong></h1>
                            ✔️Group Yoga Training <br>
                            ✔️ Strength and Flexibility Training <br>
                            ✔️ Meditation and Pranayama Session <br>
                            <br>
                            <br><br><br><br>
                        </a></li>
                        <li><a href="/subscribe/user-details/1999" class="button primary fit pad-top">
                            <h1><strong>Group of 5 batch - Rs 1999 only</strong></h1>
                            ✔️Personalized care and 1-1 attention from Experts<br>
                            ✔️ Strength and Flexibility Training<br>
                            ✔️Diet  Planner<br>
                            ✔️Self Healing Sessions<br>
                            ✔️ Meditation and Pranayama Session<br>
                            ✔️ Chat / Call Support <br>
                            ✔️ Disease specific Yoga ( Yoga Therapy)<br>
                            ✔️On Demand Consultancy throughout the membership.<br>
                        </a></li>
                        <li><a href="/subscribe/user-details/2999" class="button primary fit pad-top">
                            <h1><strong> 1-1 - Rs 2999 only </strong></h1>
                            ✔️Group Yoga Training <br>
                            ✔️ Strength and Flexibility Training <br>
                            ✔️ Meditation and Pranayama Session <br>
                            <br
                            ><br><br><br><br>
                        </a></li>
                        
                    </ul>
                </div>
                
                
            </div>
          </form>
        </section>    
      </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="row">
        <div class="col-8 col-12-xsmall row">
            <div class="col-4 col-12-xsmall row aln-center">
                <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
                <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
                <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
            </div>

            <div class="col-3 col-12-xsmall pad-left">
                <ul class="actions stacked">
                    <li><a href=""><h1>Contact Us</h1></a></li>
                    <li><a href=""><h1>About Us</h1></a></li>
                    <li><a href=""><h1>Our Experts</h1></a></li>
                    <li><a href=""><h1>Need Help?</h1></a></li>
                </ul>
            </div>
            <div class="col-4 col-12-xsmall pad-left">
                <ul class="actions stacked">
                    <!-- <li><h4>OUR TERMS</h4></li> -->
                    <li><a href=""><h1>Privacy Policy</h1></a></li>
                    <li><a href=""><h1>Terms and conditions</h1></a></li>
                    <li><a href=""><h1>Terms of service</h1></a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-social col-4 col-12-xsmall">
            <h2>Social</h2>
            <ul class="icons actions">
                <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
                <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
                <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
            </ul>
        </div>
        <ul class="col-12 col-12-xsmall copyright">
            <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>