<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>UVAH CARE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <!-- <li><a href="./join.html" class="button primary">Join Us</a></li> -->
          <%if(user){%>
            <li><a href="/user/profile" class="button primary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></a></li>
            <li><a href="/user/logout" class="button primary">Logout</a></li>
          <%}else{%>
            <li><a href="/user/signup" class="button primary">Join Us</a></li>
            <li><a href="/user/signin" class="button primary">Login</a></li>
          <%}%>
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style3">
      <div class="container">

        <header class="major pad-top">
          <h2>Subscription</h2>
          <p>Choose the subscription that best suits you</p>
        </header>

        <section>
          <form action="/user/auth/signin/local" method="post">
            <div class="box alt">
              <div class="row aln-center">

                <section id="sub-btn-1" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 699</b> (<del>1999</del>) </h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-2" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 1999</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-3" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 999</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-4" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 999</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-5" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 499</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>   
              </div>
            </div>

            <h1 class="pad-top align-center">Premium Plans</h1>
            
            <div class="box alt">
              <div class="row aln-center">
                <section id="sub-btn-6" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 7999</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-7" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 9999</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="sub-btn-8" class="mrg-top col-5 off-1 col-12-small card ">
                  <span class="image fit main"><img src="/images/yoga_soul.png" alt="" /></span>
                  <div class="content">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-12-medium ">
                          <header>
                            <div class="diff-dir">
                              <h2>Community yoga</h2>
                              <h2><b>Rs 1499</b></h2>
                            </div>
                            <p>Let your skin naturally renew itself.</p>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>   
              </div>
            </div>
          </form>
        </section>

      </div>
    </div>
    
    <div id="sub-popup-1" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga 5 days a week in a group of 20</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️5 days per week training sessions
              </li>
              <li>
                ✔️Group Yoga Training
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 699</b> /month
              (<del>Rs 1999</del>)
            </div>
            <a href="/subscribe/user-details/sub-1" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-1" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-2" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga 5 days a week in a group of 8</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️ 5 days per week training sessions
              </li>
              <li>
                ✔️ Personalized care and 1-1 attention from Experts
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>
              <li>
                ✔️ Immunity Build up
              </li>
              <li>
                ✔️ Disease specific Yoga (Yoga Therapy)
              </li>
              <li>
                ✔️  Chat / Call Support 
              </li>
              <li>
                ✔️ On Demand Consultancy throughout the membership.
              </li>
              <li>
                ✔️ Self Healing Sessions
              </li>
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 1999</b> /month
              (<del>Rs 3999</del> )
            </div>
            <a href="/subscribe/user-details/sub-2" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-2" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-3" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga on weekends in a group of 8</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️ Practise Yoga at Non-Working days and Rejuvenate/Re-Energise for Next Week
              </li>
              <li>
                ✔️ Stress Release
              </li>
              <li>
                ✔️ Group Yoga Training
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>    
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 999</b>/month
              (<del>Rs 1999</del> )
            </div>
            <a href="/subscribe/user-details/sub-3" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-3" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-4" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>meditation sessions 5 days a week </p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️ 30-45 min sessions
              </li>
              <li>
                ✔️ Stress Reduction
              </li>
              <li>
                ✔️ Anxiety Management
              </li>
              <li>
                ✔️ Increased Focus
              </li>
              <li>
                ✔️ Improvement in mental resilience
              </li>
              <li>
                ✔️ Daily Online Mindfulness Meditation 
              </li>
              <li>
                ✔️ Weekly group discussions with Q&A on practice
              </li>
              <li>
                ✔️ Daily tips on mindfulness and meditation
              </li>
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 999</b> /month
               <!-- (<del>Rs 1999</del> ) -->
            </div>
            <a href="/subscribe/user-details/sub-4" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-4" class="close-btn"><i class="fa fa-times"></i></div>
    </div>

    <div id="sub-popup-5" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>meditation sessions on weeknends</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️ 30-45 min sessions
              </li>
              <li>
                ✔️ Stress Reduction
              </li>
              <li>
                ✔️ Anxiety Management
              </li>
              <li>
                ✔️ Increased Focus
              </li>
              <li>
                ✔️ Improvement in mental resilience
              </li>
              <li>
                ✔️ Daily Online Mindfulness Meditation 
              </li>
              <li>
                ✔️ Weekly group discussions with Q&A on practice
              </li>
              <li>
                ✔️ Daily tips on mindfulness and meditation
              </li>
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 499</b> /month 
              <!-- (<del>Rs 1999</del> ) -->
            </div>
            <a href="/subscribe/user-details/sub-5" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-5" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-6" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga 5 days a week in a group of 20</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️5 days per week training sessions
              </li>
              <li>
                ✔️Group Yoga Training
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>
              
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 699</b> (<del>Rs 1999</del> )
            </div>
            <a href="/subscribe/user-details/sub-6" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-6" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-7" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga 5 days a week in a group of 20</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️5 days per week training sessions
              </li>
              <li>
                ✔️Group Yoga Training
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>
              
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 699</b> (<del>Rs 1999</del> )
            </div>
            <a href="/subscribe/user-details/sub-7" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-7" class="close-btn"><i class="fa fa-times"></i></div>
    </div>
    
    <div id="sub-popup-8" class="inactive-popup">
      <header class="pad-top pad-right pad-left pad-bottom">
        <h2>Community Yoga</h2>
        <p>Yoga 5 days a week in a group of 20</p>
      </header>
      <div class="pad-top row">
        <div class="col-7 col-12-xsmall">
          <h3>
            <ul class="alt">
              <li>
                ✔️5 days per week training sessions
              </li>
              <li>
                ✔️Group Yoga Training
              </li>
              <li>
                ✔️ Strength and Flexibility Training
              </li>
              <li>
                ✔️ Meditation and Pranayama Session
              </li>
              
            </ul>
          </h3>
        </div>
        <div class="col-4 align-center col-12-xsmall">
          <h2 class="row aln-center">
            <div class="pad-bottom col-12">
              <b>Price: Rs 699</b> (<del>Rs 1999</del> )
            </div>
            <a href="/subscribe/user-details/sub-8" class="button primary col-10">Enroll</a>
          </h2>
        </div>
      </div>
      <div id="sub-close-popup-8" class="close-btn"><i class="fa fa-times"></i></div>
    </div>

    
    <!-- Footer -->
    <footer id="footer" class="row">
        <div class="col-8 col-12-xsmall row">
            <div class="col-4 col-12-xsmall row aln-center">
                <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
                <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
                <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
            </div>

            <div class="col-3 col-12-xsmall pad-left">
							<ul class="actions stacked">
								<li><a href="/contact"><h3>Contact Us</h3></a></li>
								<li><a href="/about"><h3>About Us</h3></a></li>
								<!-- <li><a href="/experts"><h3>Our Experts</h3></a></li> -->
								<!-- <li><a href=""><h3>Need Help?</h3></a></li> -->
							</ul>
						</div>
						<div class="col-4 col-12-xsmall pad-left">
							<ul class="actions stacked">
								<!-- <li><h4>OUR TERMS</h4></li> -->
								<li><a href="/privacy-policy"><h3>Privacy Policy</h3></a></li>
								<!-- <li><a href=""><h3>Terms and conditions</h3></a></li> -->
								<li><a href="/terms-of-service"><h3>Terms of service</h3></a></li>
							</ul>
						</div>
        </div>
        
        <div class="footer-social col-4 col-12-xsmall">
            <h2>Social</h2>
            <ul class="icons actions">
                <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
                <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
                <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
            </ul>
        </div>
        <ul class="col-12 col-12-xsmall copyright">
            <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/subscriptions.js"></script>
</body>
</html>