<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="/css/main.css" />
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <%if(user){%>
            <li><a href="/user/profile" class="button primary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></a></li>
            <li><a href="/user/logout" class="button primary">Logout</a></li>
          <%}else{%>
            <li><a href="/user/signup" class="button primary">Join Us</a></li>
            <li><a href="/user/signin" class="button primary">Login</a></li>
          <%}%>
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style1">
      <div class="container">
        <header class="major">
          <h2>Experts</h2>
          <p>Experts in making your mind and body fit </p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                    <section >
                        <a href="#" class="image fit"><img src="/images/expert-1.png" alt="" /></a>
                    </section>
            </div>
            <div class="col-8 col-12-medium">
                <section>
                    <h2>Ms. Shalini Sharma</h2>
                    <h3><strong>Experience:</strong> +8 years</h3>
                    <h3><strong>Specialization:</strong> Fitness & Pregnancy Yoga</h3>
                    <h3><strong>Certification:</strong> Morarji Desai National Institute of Yoga</h3>
                    <h3><strong>About</strong></h3>
                    <h4>I have been practicing Yoga since my childhood.<br> Subsequently, l learnt Yoga Science from Morarji Desai National Institute of Yoga and was a scholar in it. l have specialization and certification in Pregnancy Yoga. I have Masters in Physical Education from Rashtrasant Tukadoji Maharaj Nagpur University. l have been teaching Yoga Science for 8+ years now. Being an Innovative and curious person, l started researching the benefits of Therapeutic Yoga and made it my mission to deliver and spread “Total in Totality". I am completely inclined towards nature and would love to create a natural and healthy community. Through Uvah Care, l wish to create a valuable impact on the lives of people, by devoting and applying all my knowledge and experience; because l strongly believe that the greatest Wealth which one can possess is Health itself.</h4>
                </section>
            </div>
        </div> 
        <hr/>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                    <section >
                        <a href="#" class="image fit"><img src="/images/expert-2.png" alt="" /></a>
                    </section>
            </div>
            <div class="col-8 col-12-medium">
                <section>
                    <h2>Dr. Reena Arora</h2>
                    <h3><strong>Experience:</strong> +20 years</h3>
                    <h3><strong>Specialization:</strong> ayurvedic medicines </h3>
                    <h3><strong>Certification:</strong> Morarji Desai National Institute of Yoga</h3>
                    <h3><strong>About</strong></h3>
                    <h4>Dr Reena Arora is the Director of Ayurvedic Clinic. It was conceptualized in the year 2005. She obtained Bachelor of Ayurvedic Medicine and Surgery (BAMS) degree from MD University Rohtak in 1996. She was among the top 10 aspirants who secured admission in BAMS from Haryana State. She completed Post Graduate Diploma in Panchkarma from Tilak Ayurvedic College, Pune University in the year 2003. She has also done Certificate Course in Yoga from Morarji Desai Institute of Yoga, Delhi.<br><br>
                        She is passionate and avid practitioner of ayurveda for more than twenty years and cured many patients suffering from chronic diseases through ayurvedic medicines. She also prescribes specific diet according to disease and prakarti of the patient.<br><br>
                        She has won many accolades for promoting Ayurveda. She has won first prize in an article writing contest of Ministry of AYUSH on the topic of prevention and management of diabetes through ayurveda in context of modern lifestyle. She has also participated in International and National conferences. She won outstanding paper award on “PCOD” from Vaidyaratanam. She has also been a regular member of various health shows on All India Radio and Doordarshan. She is an active member of NASYA. She actively participates in the events and conferences related to ayurveda and yoga.<br>
                    </h4>
                </section>
            </div>
        </div> 
        <hr/>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                    <section >
                        <a href="#" class="image fit"><img src="/images/expert-1.png" alt="" /></a>
                    </section>
            </div>
            <div class="col-8 col-12-medium">
                <section>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <h3><strong>Experience:</strong> +8 years</h3>
                    <h3><strong>Specialization:</strong> Fitness & Pregnancy Yoga</h3>
                    <h3><strong>Certification:</strong> Morarji Desai National Institute of Yoga</h3>
                    <h3><strong>About</strong></h3>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aspernatur quibusdam, recusandae eius consequatur doloremque, provident officia at ad blanditiis nobis. Distinctio quaerat beatae accusantium recusandae consequatur quibusdam. Optio, voluptate! Maiores accusamus corrupti incidunt rerum, obcaecati molestiae sint vitae assumenda eos delectus, nisi totam deleniti iste! Odio at magnam accusantium autem temporibus officiis necessitatibus ab facilis obcaecati, maiores, atque, numquam minus rerum minima hic quae.</h4>
                </section>
            </div>
        </div> 
      </div>
    </div>
			<!-- Footer -->
      <footer id="footer" class="row">
        <div class="col-8 col-12-xsmall row">
          <div class="col-4 col-12-xsmall row aln-center">
            <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
            <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
            <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
          </div>

          <div class="col-3 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <li><a href=""><h3>Contact Us</h3></a></li>
              <li><a href=""><h3>About Us</h3></a></li>
              <li><a href=""><h3>Our Experts</h3></a></li>
              <li><a href=""><h3>Need Help?</h3></a></li>
            </ul>
          </div>
          <div class="col-4 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <!-- <li><h4>OUR TERMS</h4></li> -->
              <li><a href=""><h3>Privacy Policy</h3></a></li>
              <li><a href=""><h3>Terms and conditions</h3></a></li>
              <li><a href=""><h3>Terms of service</h3></a></li>
            </ul>
          </div>
        </div>
        
        <div class="footer-social col-4 col-12-xsmall">
          <h2>Social</h2>
          <ul class="icons actions">
            <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
            <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
            <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
          </ul>
        </div>
        <ul class="col-12 col-12-xsmall copyright">
          <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
      </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
