<!DOCTYPE HTML>
<html>
	<head>
		<title>UVAH CARE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="icon" href="/images/Uvah care logo wb1-01.png">
		<link rel="apple-touch-icon" href="/images/Uvah care logo wb1-01.png">		
		
		<link rel="stylesheet" href="/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo">
						<img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
						<a href="/">UVAH CARE</a>
					</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/experts">Experts</a></li>
							<li><a href="/about">About us</a></li>
							<li><a href="/contact">Contact us</a></li>
							<%if(user){%>
								<li><a href="/user/profile" class="button primary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></a></li>
								<li><a href="/user/logout" class="button primary">Logout</a></li>
							<%}else{%>
								<li><a href="/user/signup" class="button primary">Join Us</a></li>
								<li><a href="/user/signin" class="button primary">Login</a></li>
							<%}%>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Rejuvenating</h2>
							<h2>Body Mind and Soul</h2>
							<p>Discover inspiring new ways to work.<br/>travel and trade around the globe</p>
						</header>
						<a href="/subscribe/type" class="banner-button ">
							
							<i class="fa-solid fa-users banner-icon"></i>
							<b>Join Our Commuinity</b>
						</a>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/yoga_soul.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium pad-left">
									<header>
										<h2>Rejuvenating Body</h2>
										<p>Let your skin naturally renew itself.</p>
									</header>
									<p>Yoga aids in reducing blood pressure and also helps in development of strong bones incresing your body's flexibility. It helps in relieving chronic neck pain and can help you live a healthier life by lowering the risk of any heart related disease.</p>
								</div>
								<div class="col-4 col-12-medium pad-left">
									<header>
										<h2>Rejuvenating Mind</h2>
										<p>Center your attention and boost your focus and concentration</p>
									</header>
									<p>Yoga can help you overcome anxiety and despair. Yoga develops your memory and improves focus, and it also helps your mental and psychological well-being, and it can even help you recover from traumatic situations.</p>
								</div>
								<div class="col-4 col-12-medium pad-left">
									<header>
										<h2>Rejuvenating Soul</h2>
										<p>Find path to internal peace and happiness</p>
									</header>
									<p>Yoga can help you feel better. We can get inner serenity via yoga. It helps us cope with difficulties and strengthens our connections with others.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- four -->
				<section id="four" class="spotlight style3 right">
					<span class="image fit main"><img src="./images/yoga-pay-section.png" alt="" /></span>
					<div class="content capture-half">
						<header>
							<h2>Yoga, Meditation & Fitness Classes.</h2>
							<p>Uvah Care is designed to help you feel better in body and mind. Get the best online yoga, meditation & fitness classes starting at  <del>₹999/mo</del> &nbsp; <b>₹699/mo.</b> </p>
							<ul class="actions">
								<li><a href="/subscribe/type" class="button">Join Now</a></li>
							</ul>
						</header>
					</div>
				</section>
				
			<!-- two -->
				<section id="two" class="spotlight style2 special top capture fade-up">
					<span class="image fit main"><img src="images/yoga-mats.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Meet your mindfull movement experts</h2>
								<p>Start seeing results on and off the mat by practicing with teachers known for their mastery in mind and body wellness.</p>
							</header>
								<div class="row ">
									<div class="col-4 col-12-medium">
										<span class="image round-avatar-image">
											<img src="/images/expert-1.png" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-chart-area"></span> -->
										<h3>Shalini Sharma</h3>
										<p><b>Experience:</b> +8 Years <br> <b>Specialization:</b> Fitness & Pregnancy Yoga <br> <b>Certification:</b> Morarji Desai National Institute of Yoga</p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
									<div class="col-4 col-12-medium">										
										<span class="image round-avatar-image">
											<img src="/images/expert-2.png" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-comment"></span> -->
										<h3>Dr. Reena Arora</h3>
										<p><b>Experience:</b> +20 Years <br> <b>Specialization:</b> Ayurvedic Medicine <br> <b>Certification:</b> Morarji Desai National Institute of Yoga</p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
									<div class="col-4 col-12-medium">
										<span class="image round-avatar-image">
											<img src="./images/banner.jpg" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-flask"></span> -->
										<h3>Cubilia cep lobortis</h3>
										<p><b>Experience:</b> +15 Years <br> <b>Specialization:</b> Lorem ipsum dolor  <br> <b>Certification:</b> Lorem ipsum dolor sit amet consectetur </p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
								</div>
						</div>
						<!-- <a href="#three" class="goto-next scrolly">Next</a> -->
					</div>
				</section>
				
			<!-- three -->
				<section id="three" class="wrapper special style1 fade-up">
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Membership Benifits</h2>
							</header>
							<div class="box alt">
								<div class="row gtr-uniform">
									<div class="col-4 col-6-medium col-12-xsmall pad-left">
										<!-- <span class="image-round fit main"> -->
											<!-- <img class="image-round" src="images/yoga-posture.png" alt="" /> -->
										<!-- </span> -->
										<!-- <img class="img-" src="/images/yoga-posture.png" alt=""> -->
										<span class="icon major fa-solid fa-users-rectangle"></span>
										<h3>World Class Teachers</h3>
										<p>Experience the depth of knowledge from experts across all areas of yoga.</p>
									</div>
									<div class="col-4 col-6-medium col-12-xsmall pad-left">
										<span class="icon major fa-solid fa-person-praying"></span>
										<h3>Stay Inspired</h3>
										<p>Explore hunderds of live and online classes ,with new content added daily.</p>
									</div>
									<div class="col-4 col-6-medium col-12-xsmall pad-left">
										<span class="icon major fa-solid fa-tablet-screen-button"></span>
										<h3>Everywhere You Are</h3>
										<p>Take classes at your own pace, on your own time, and on any device.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <a href="#four" class="goto-next scrolly">Next</a> -->
				</section>
			
			<!-- Five -->
				<section id="five" class="wrapper style1">
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Testimonials</h2>
							</header>
							<!-- carossuel -->
							<div class="slider">
								<a href="#0" class="next control"> <i class="fa-solid fa-arrow-right-long"></i> </a>
								<a href="#0" class="prev control"> <i class="fa-solid fa-arrow-left-long"></i> </a>
								<ul>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Jyoti Singh</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius, voluptatem at provident, quia unde accusamus quas doloremque et ipsam sed architecto exercitationem labore quisquam!
												<b>Satisfaction:</b>⭐⭐⭐⭐
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Prathistha</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius, voluptatem at provident, quia unde accusamus quas doloremque et ipsam sed architecto exercitationem labore quisquam!
												<b>Satisfaction:</b>⭐⭐⭐⭐⭐
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Rupin Vijan</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius, voluptatem at provident, quia unde accusamus quas doloremque et ipsam sed architecto exercitationem labore quisquam!
												I would highly recommend Uvah Care!
												<b>Satisfaction:</b>⭐⭐⭐⭐⭐
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Nisha</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius, voluptatem at provident, quia unde accusamus quas doloremque et ipsam sed architecto exercitationem labore quisquam!
												<b>Satisfaction:</b>⭐⭐⭐⭐
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Sangeeta</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius, voluptatem at provident, quia unde accusamus quas doloremque et ipsam sed architecto exercitationem labore quisquam!
												<b>Satisfaction:</b>⭐⭐⭐⭐⭐
											</p>
										</div>
									</li>
								</ul>
								<div class="slider_option">
									<Button class="btn">Autoplay</Button>
								  </div>
							</div>
						</div>
					</div>
				</section>
			
			
			<!-- Six -->
				<!-- <section id="six" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contact Us </h2>
							<p>Add your email for more information on all the ways we can support you in your wellness goals.</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>
			
			<div>
				<iframe  style="border:0; width: 100%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13991.82285156679!2d77.1159104!3d28.7507392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b2d40911c8cfed!2sUVAH%20CARE!5e0!3m2!1sen!2sin!4v1642930149691!5m2!1sen!2sin" allowfullscreen=""  frameborder="0" ></iframe>
			</div> -->

			<!-- Footer -->
				<footer id="footer" class="row">
					<div class="col-7 col-12-xsmall row">
						<div class="col-4 col-12-xsmall row aln-center">
							<div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
							<div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
							<div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
						</div>

						<div class="col-3 col-12-xsmall pad-left">
							<ul class="actions stacked">
								<li><a href=""><h1>Contact Us</h1></a></li>
								<li><a href=""><h1>About Us</h1></a></li>
								<li><a href=""><h1>Our Experts</h1></a></li>
								<li><a href=""><h1>Need Help?</h1></a></li>
							</ul>
						</div>
						<div class="col-4 col-12-xsmall pad-left">
							<ul class="actions stacked">
								<!-- <li><h4>OUR TERMS</h4></li> -->
								<li><a href="/privacy-policy"><h1>Privacy Policy</h1></a></li>
								<li><a href=""><h1>Terms and conditions</h1></a></li>
								<li><a href="/terms-of-service"><h1>Terms of service</h1></a></li>
							</ul>
						</div>
					</div>
					
					<div class="footer-social col-4 col-12-xsmall">
						<h2>Social</h2>
						<ul class="icons actions">
							<li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
							<!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
							<!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
						</ul>
					</div>
					<ul class="col-12 col-12-xsmall copyright">
						<li>&copy; UVAH CARE. All rights reserved.</li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script> 
			<script src="/js/main.js"></script>
			<script src="/js/navbar_effect.js"></script>

	</body>
</html>


<!-- <div class="footer-info">
	<div class="location">
		<h3>
			<a>
				<i class="fa-solid fa-location-dot"></i>
				Location
			</a>
		</h3>
		<p>Office 16 , 3rd Floor , DTU-IIF, Delhi Technological University, New Delhi, Delhi 110042</p>
	</div>
	<div class="mail">
		<h3>
			<a href="mailto:healthapp.innovation@gmail.com">
				<i class="fa-solid fa-envelope"></i>
				Email
			</a>
		</h3>
		<p>healthapp.innovation@gmail.com</p>
	</div>

	<div class="Phone">
		<h3>
			<a href="tel:+918287804475">
				<i class="fa-solid fa-phone"></i>
				Phone
			</a>
		</h3>	
		<p>+91 8287804475</p>
	</div>	
</div> -->