<!DOCTYPE HTML>
<html>
	<head>
		<title>UVAH CARE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="icon" href="/images/Uvah care logo wb1-01.png">
		<link rel="apple-touch-icon" href="/images/Uvah care logo wb1-01.png">		
		
		<link rel="stylesheet" href="/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo">
						<img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
						<a href="/">UVAH CARE</a>
					</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
								<!-- <li>
									<a href="#">Layouts</a>
									<ul>
										<li><a href="left-sidebar.html">Left Sidebar</a></li>
										<li><a href="right-sidebar.html">Right Sidebar</a></li>
										<li><a href="no-sidebar.html">No Sidebar</a></li>
										<li>
											<a href="#">Submenu</a>
											<ul>
												<li><a href="#">Option 1</a></li>
												<li><a href="#">Option 2</a></li>
												<li><a href="#">Option 3</a></li>
												<li><a href="#">Option 4</a></li>
											</ul>
										</li>
									</ul>
								</li> -->
							<li><a href="/experts">Experts</a></li>
							<li><a href="/about">About us</a></li>
							<li><a href="/contact">Contact us</a></li>
							<li><a href="/join" class="button primary">Join Us</a></li>
							<li><a href="/login" class="button primary">Login</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Rejuvenating</h2>
							<h2>Body Mind and Soul</h2>
							<p>Discover inspiring new ways to work.<br/>travel and trade around the globe</p>
						</header>
						<a href="./join.html" class="banner-button ">
							
							<i class="fa-solid fa-users banner-icon"></i>
							Join Our Commuinity
						</a>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/yoga_soul.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Rejuvenating Body</h2>
										<p>Let your skin naturally renew itself.</p>
									</header>
									<p>Yoga aids in reducing blood pressure and also helps in development of strong bones incresing your body's flexibility. It helps in relieving chronic neck pain and can help you live a healthier life by lowering the risk of any heart related disease.</p>
								</div>
								<div class="col-4 col-12-medium">
									<header>
										<h2>Rejuvenating Mind</h2>
										<p>Center your attention and boost your focus and concentration</p>
									</header>
									<p>Yoga can help you overcome anxiety and despair. Yoga develops your memory and improves focus, and it also helps your mental and psychological well-being, and it can even help you recover from traumatic situations.</p>
								</div>
								<div class="col-4 col-12-medium">
									<header>
										<h2>Rejuvenating Soul</h2>
										<p>Find path to internal peace and happiness</p>
									</header>
									<p>Yoga can help you feel better. We can get inner serenity via yoga. It helps us cope with difficulties and strengthens our connections with others.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>
			
			<!-- two -->
				<section id="two" class="spotlight style2 special top capture fade-up">
					<span class="image fit main"><img src="images/yoga-mats.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Meet your mindfull movement experts</h2>
								<p>Start seeing results on and off the mat by practicing with teachers known for their mastery in mind and body wellness.</p>
							</header>
								<div class="row ">
									<div class="col-4 col-12-medium">
										<span class="image round-avatar-image">
											<img src="./images/louise-vildmark-bHEoayA42qg-unsplash.png" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-chart-area"></span> -->
										<h3>Shalini Sharma</h3>
										<p>Yoga instructor and Therapist specialization in Fitness & Pregnancy Yoga</p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
									<div class="col-4 col-12-medium">										
										<span class="image round-avatar-image">
											<img src="./images/louise-vildmark-bHEoayA42qg-unsplash.png" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-comment"></span> -->
										<h3>Eleifend lorem ornare</h3>
										<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
									<div class="col-4 col-12-medium">
										<span class="image round-avatar-image">
											<img src="./images/louise-vildmark-bHEoayA42qg-unsplash.png" alt="">
										</span>
										<!-- <span class="icon solid alt major fa-flask"></span> -->
										<h3>Cubilia cep lobortis</h3>
										<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
										<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo quaerat explicabo quae officia deserunt ad dolorum cupiditate error distinctio!</p> -->
									</div>
								</div>
						</div>
						<!-- <a href="#three" class="goto-next scrolly">Next</a> -->
					</div>
				</section>
				
			<!-- three -->
				<section id="three" class="wrapper special style1 fade-up">
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Membership Benifits</h2>
							</header>
							<div class="box alt">
								<div class="row gtr-uniform">
									<div class="col-4 col-6-medium col-12-xsmall">
										<!-- <span class="image-round fit main"> -->
											<!-- <img class="image-round" src="images/yoga-posture.png" alt="" /> -->
										<!-- </span> -->
										<!-- <img class="img-" src="/images/yoga-posture.png" alt=""> -->
										<span class="icon major fa-solid fa-users-rectangle"></span>
										<h3>World Class Teachers</h3>
										<p>Experience the depth of knowledge from experts across all areas of yoga.</p>
									</div>
									<div class="col-4 col-6-medium col-12-xsmall">
										<span class="icon major fa-solid fa-person-praying"></span>
										<h3>Stay Inspired</h3>
										<p>Explore hunderds of live and online classes ,with new content added daily.</p>
									</div>
									<div class="col-4 col-6-medium col-12-xsmall">
										<span class="icon major fa-solid fa-tablet-screen-button"></span>
										<h3>Everywhere You Are</h3>
										<p>Take classes at your own pace, on your own time, and on any device.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <a href="#four" class="goto-next scrolly">Next</a> -->
				</section>
	
			<!-- four -->
				<section id="four" class="spotlight style3 right">
					<span class="image fit main"><img src="./images/yoga-pay-section.png" alt="" /></span>
					<div class="content capture-half">
						<header>
							<h2>Yoga, Meditation & Fitness Classes.</h2>
							<p>Uvah Care is designed to help you feel better in body and mind. Get unlimited access to the best online yoga, meditation & fitness classes for a limited time at ₹499/mo.</p>
							<ul class="actions">
								<li><a href="./join.html" class="button">Join Now</a></li>
							</ul>
						</header>
					</div>
				</section>
			
			<!-- Five -->
				<section id="five" class="wrapper style1">
					<div class="content">
						<div class="container">
							<header class="major">
								<h2>Testimonials</h2>
							</header>
							<!-- carossuel -->
							<div class="slider">
								<a href="#0" class="next control">Next&#62; </a>
								<a href="#0" class="prev control"> &#60;Prev </a>
								<ul>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Jyoti Singh</h3>
											<p>
												My lifestyle was disturbed during this pandemic but I always wanted to have and to live an healthy lifestyle.So I joined  UVAH CARE's Yoga sessions.Here I have been practicing yoga with Shalini Sharma Ma'am for a while and I can definitely observe noticeable differences in my body.Her sessions gave me just what I was looking for. It allowed me to relax,settle my thoughts and work on my mobility and flexibility. Her SMALL classes are playing a BIG role in my life. I feel calmer and more focused now. She is an amazing,skilled and professional yoga instructor. I am enjoying the sessions and definitely Yoga has become an integral part of my life now. I highly recommend everyone to join the session.
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Prathistha</h3>
											<p>
												First of all, I would like to say thanks to Dr. Reena ma'am for recommending the Uvahcare platform for yoga practice. Secondly, I would like to thank the Uvah care team, especially Shalini ma'am, for providing this amazing yoga experience. This session really works for me, as I feel more flexibility in my body, I have also noticed changes in my breathing pattern. One thing I would say is that instructor Shalini ma'am is really very experienced and knowledgeable in this field as she explains to us every little thing in detail about asanas, postures, differences, effects, benefits etc and I'm saying this because sometime back I joined another platform where they didn't know the exact differences and they didn't correct everyone's posture. So this is a very good platform to practice and learn yoga in a good way. Thank you.
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Rupin Vijan</h3>
											<p>
												Uvah Care is definitely one of the best platforms to develop a healthy lifestyle like never before. Amit sir familiarised me with the Yoga sessions of Shalini ma'am. I noticed that my mind has started learning how to relax and calm down itself. I have started observing and mastering my breathing patterns.My body feel energised and remains flexible the whole day.Yoga has increased my concentration and focus which has improved my performance at work multifolds. Shalini ma'am tells the minutest of details and purpose of every yoga pose. It's been a marvellous experience at Uvah Care.I would really like to thank Amit Sir and Shalini ma'am from the bottom of my heart, for these exceptional classes.
												I would highly recommend Uvah Care!
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Nisha</h3>
											<p>
												Thanks UvahCare for yoga session I really enjoyed it and Shalini mam communicate so well and makes you feel very comfortable.this session will set you back on the right path I would definitely recommend it🙏🏻.I always thought that my body is not made for yoga,too stiff,but mam patiently work with me to help me relax and make all yoga poses I have a wonderful experience thanks to Uvahcare and thanks to shalini mam 🙏🏻.
											</p>
										</div>
									</li>
									<li>
										<div class="testimonial">
											<span class="icon major fa-solid fa-user"></span>
											<h3>Sangeeta</h3>
											<p>
												Management is very supportive..and maim is very helpful and best yoga teacher...lots of thanks for providing this type of yoga classes..and very affordable..thank you sir..
											</p>
										</div>
									</li>
								</ul>
								<div class="slider_option">
									<Button class="btn">Autoplay</Button>
								  </div>
							</div>
						</div>
					</div>
				</section>
			
			
			<!-- Six -->
				<section id="six" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contact Us </h2>
							<p>Add your email for more information on all the ways we can support you in your wellness goals.</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>
			
			<div>
				<iframe  style="border:0; width: 100%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13991.82285156679!2d77.1159104!3d28.7507392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b2d40911c8cfed!2sUVAH%20CARE!5e0!3m2!1sen!2sin!4v1642930149691!5m2!1sen!2sin" allowfullscreen=""  frameborder="0" ></iframe>
			</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="footer-info">
						<div class="location">
							<h3>
								<a>
									<i class="fa-solid fa-location-dot"></i>
									Location
								</a>
							</h3>
							<p>Office 16 , 3rd Floor , DTU-IIF, Delhi Technological University, New Delhi, Delhi 110042</p>
						</div>
						<div class="mail">
							<h3>
								<a href="mailto:healthapp.innovation@gmail.com">
									<i class="fa-solid fa-envelope"></i>
									Email
								</a>
							</h3>
							<p>healthapp.innovation@gmail.com</p>
						</div>
	
						<div class="Phone">
							<h3>
								<a href="tel:+918287804475">
									<i class="fa-solid fa-phone"></i>
									Phone
								</a>
							</h3>	
							<p>+91 8287804475</p>
						</div>	
					</div>
					<div class="footer-social">
						<h2>Social</h2>
						<ul class="icons">
							<li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
							<!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
							<!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
						</ul>
						<ul class="copyright">
							<li>&copy; UVAH CARE. All rights reserved.</li>
						</ul>
					</div>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>