<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
            <!-- <li>
              <a href="#">Layouts</a>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li>
                  <a href="#">Submenu</a>
                  <ul>
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </li>
              </ul>
            </li> -->
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <!-- <li><a href="./join.html" class="button primary">Join Us</a></li> -->
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style3">
      <div class="container">
        <header class="major">
          <h2>Sign Up</h2>
          <p>Join our commuinity for the fitness of your mind and body</p>
        </header>
        <section>
          <!-- <h3>Form</h3> -->
          <form action="/join/form-register" method="post">
            <div class="row aln-center aln-middle gtr-uniform gtr-75">
              <div class="row aln-center aln-middle gtr-uniform gtr-75">
                <div class="col-7 col-12-xsmall">
                  <input type="text" name="name" id="name" value="" placeholder="Name" required/>
                </div>
                <div class="col-7 col-12-xsmall">
                  <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                </div>
                
                <div class="col-7 col-12-xsmall">
                  <input type="password" name="password" id="password" value="" placeholder="Password" required minlength="8"/>
                </div>
                <div class="col-7 col-12-xsmall">
                  <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm password" required minlength="8"/>
                  <span id='message'></span>
                </div>
              </div>
              
                <a href="/login/google" class="col-3 col-12-xsmall align-center">
                  <h3>SIGN UP WITH GOOGLE</h3>
                  <img src="/images/Google.png" alt="">
                </a>
          
                <ul class="actions col-12">
                  <li><input type="submit" id="submit" value="Sign Up" class="primary" /></li>
                  <!-- <li><input type="reset" value="Reset" /></li> -->
                </ul>
              </div>
            </div>
          </form>
        </section>    
      </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="footer-info">
        <div class="location">
          <h3>
            <a>
              <i class="fa-solid fa-location-dot"></i>
              Location
            </a>
          </h3>
          <p>Office 16 , 3rd Floor , DTU-IIF, Delhi Technological University, New Delhi, Delhi 110042</p>
        </div>
        <div class="mail">
          <h3>
            <a href="mailto:healthapp.innovation@gmail.com">
              <i class="fa-solid fa-envelope"></i>
              Email
            </a>
          </h3>
          <p>healthapp.innovation@gmail.com</p>
        </div>
  
        <div class="Phone">
          <h3>
            <a href="tel:+918287804475">
              <i class="fa-solid fa-phone"></i>
              Phone
            </a>
          </h3>	
          <p>+91 8287804475</p>
        </div>	
      </div>
      <div class="footer-social">
        <h2>Social</h2>
        <ul class="icons">
          <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
          <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
          <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
        </ul>
        <ul class="copyright">
          <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.scrolly.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/jquery.scrollex.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>
  <script>
    $('#password, #confirm_password').on('keyup', function () {
      let $submitBtn = $("#form input[type='submit']");
      if ($('#password').val() == $('#confirm_password').val()) {
        $('#message').html('Matching').css('color', 'green');
        $('#submit').disabled = false;
        $submitBtn.removeAttr("disabled");
      } else{
        $('#message').html('Not Matching').css('color', 'red');
        // $('#submit').disabled = true;
        $submitBtn.attr("disabled", "disabled");
      } 
    });
  </script>
</body>
</html>
