<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/join.css">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
            <!-- <li>
              <a href="#">Layouts</a>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li>
                  <a href="#">Submenu</a>
                  <ul>
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </li>
              </ul>
            </li> -->
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <!-- <li><a href="./join.html" class="button primary">Join Us</a></li> -->
        </ul>
      </nav>
    </header>

    <!-- form  -->
    <div class="container">
      <div class="form-container" >
        <div class="title">Registration</div>
        <div class="content">
          <!-- form -->
          <form action="/join/form-register" method="post">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" name="name" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <span class="details">Age</span>
                <input type="number" name="age" placeholder="Enter your age" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="email" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="tel" name="ph_number" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details">Profession </span>
                <input type="text" name="profession" placeholder="Enter your profession " required>
              </div>
              <!-- <div class="input-box">
                <span class="details">Your 2022 health resolution</span>
                <input type="text" placeholder="Enter your resolution" required>
              </div> -->
              <!-- <div class="input-box">
                <span class="details">When do you wake up in morning</span>
                <input type="text" placeholder="Enter your waking up timing" required>
              </div> -->
              <div class="input-box">
                <span class="details">When do you want to wake up</span>
                <input type="text" name="wakeUpNow" placeholder="Enter your desired waking up time" required>
              </div>
              <div class="input-box">
                <span class="details">Your 2022 goals</span>
                <input type="text" name="goals" placeholder="Goals" required>
              </div>
              <div class="input-box">
                <span class="details">Expectations from the session </span>
                <input type="text" name="expectations" placeholder="Enter your Expectations" required>
              </div>
              <div class="input-box">
                <span class="details">What are you willing to sacrifice to achi eve healthy routine</span>
                <input type="text" name="sacrifice" placeholder="Enter your resolution" required>
              </div>
              <div class="input-box">
                <span class="details">Do you have any medical history/problems or dietry restrictions?</span>
                <input type="text" name="medicalHistory" placeholder="Medical history" required>
              </div>
              <div class="input-box">
                <span class="details">Your questions for our expert</span>
                <input type="text" name="otherquestions" placeholder="Your doubts" required>
              </div>
            </div>
            <div class="gender-details">
              <input type="radio" name="gender" value="male" id="dot-1">
              <input type="radio" name="gender" value="female" id="dot-2">
              <input type="radio" name="gender" value="other" id="dot-3">
              <span class="gender-title">Gender</span>
              <div class="category">
                <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Prefer not to say</span>
                </label>
              </div>
            </div>
            <div class="button hover-color">
              
              <input class="main-color" type="submit" value="Register">

            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="footer-info">
        <div class="location">
          <h3>
            <a>
              <i class="fa-solid fa-location-dot"></i>
              Location
            </a>
          </h3>
          <p>Office 16 , 3rd Floor , DTU-IIF, Delhi Technological University, New Delhi, Delhi 110042</p>
        </div>
        <div class="mail">
          <h3>
            <a href="mailto:healthapp.innovation@gmail.com">
              <i class="fa-solid fa-envelope"></i>
              Email
            </a>
          </h3>
          <p>healthapp.innovation@gmail.com</p>
        </div>

        <div class="Phone">
          <h3>
            <a href="tel:+918287804475">
              <i class="fa-solid fa-phone"></i>
              Phone
            </a>
          </h3>	
          <p>+91 8287804475</p>
        </div>	
      </div>
      <div class="footer-social">
        <h2>Social</h2>
        <ul class="icons">
          <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
          <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
          <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
        </ul>
        <ul class="copyright">
          <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
      </div>
    </footer>
  <div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.scrolly.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/jquery.scrollex.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
