<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>make new password</h2>
    <h3>Name:  <%= user_profile.name%></h3>
    <h3>Email: <%= user_profile.email%></h3>
    <form action="/user/create/password" method="post">
        <label for="password">NEW Password</label>
        <input type="password" name="password" id="password">
        <label for="confirm-password">Confirm NEW Password</label>
        <input type="password" name="confirm_password" id="confirm-password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>