<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>UVAH CARE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" />
	<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <%if(user){%>
            <li><a href="/user/profile" class="button primary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></a></li>
            <li><a href="/user/logout" class="button primary">Logout</a></li>
          <%}else{%>
            <li><a href="/user/signup" class="button primary">Join Us</a></li>
            <li><a href="/user/signin" class="button primary">Login</a></li>
          <%}%>
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style1">
      <div class="container">
        <header class="major">
          <h2>Privacy Policy</h2>
        </header>
        <section>
            <p> <strong>Uvah Care</strong> is concerned about your privacy. Please read the following to learn more about Uvah Care Privacy Policy. The Policy is intended to provide you with clear and complete information about the treatment of your Personally Identifiable Data and Information and your Sensitive Personal Data or Information that Uvah Care collects in connection with the Services offered by Uvah Care (expression ‘Service' as defined in the Terms of Use located at www. uvahcare.com) that is listed on the Uvah Care Website; and the way your Personally Identifiable Information and Data and Sensitive Personal Data or Information is stored and used by Uvah Care.
            "Personally Identifiable Information" means any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with Uvah Care, is capable of identifying such person. Therefore information such as your name, age, gender, address, telephone number, and any other personal information that we collect, in combination with any other information about yourself, which is capable of identifying yourself, is known as Personally Identifiable Information.
            For the purposes of the Services listed on our website, "Sensitive Personal Data or Information" shall mean such Personal Information which consists of information relating to:
            <br>
            Password,<br>
            Financial information such as Bank account or credit card or debit card or other payment instrument details;<br>
            Physical, physiological and mental health condition;<br>
            Sexual orientation;<br>
            Medical records and history;<br>
            Biometric information;<br>
            Any detail relating to the above clauses as provided to body corporate for providing services; and<br>
            Any of the information received under above clauses by body corporate for processing, stored or processed under lawful contract or otherwise
            Provided that, any information that is freely available or accessible in public domain shall not be regarded as Sensitive Personal Data or Information.<br><br>
            By registering and using the Services listed on our Website you specifically consent to the use and transmission/transfer/sharing of your Sensitive Personal Data or Information to Uvah Care for the sole purposes of providing the Services that you wish to avail of from Uvah Care.
            You shall be at liberty at any time to discontinue the use / transfer / transmission and sharing of any of your Sensitive Personal Data or Information, by writing to us and informing us of the same.<br>
            Subject to the foregoing, your Sensitive Personal Data or Information shall be held by us in strict confidence and as per the provisions of the Applicable Law, (which includes the Information Technology (Reasonable security practices and procedures and sensitive personal data or information) Rules, 2011), and except as stated herein, we will not disclose any of your Sensitive Personal Data or Information to any other person without your express prior consent.</p>

            <h3>What this Privacy Policy Covers?</h3>
            <p> This Privacy Policy covers Uvah Care's treatment of your Personally Identifiable Information and Sensitive Personal Data or Information that Uvah Care collects when you use any of the Services offered by Uvah Care that are listed on our Website and/or Apps
            If you choose not to provide the Personal Information that we seek from you, you may not be able to avail the Services offered by Uvah Care listed on our Website and/or Apps, or we may not be able respond to any queries that you may have.
            Information Collection and Use
            Uvah Care collects Personally Identifiable Information when you register with Uvah Care, either through Uvah Care's website located at URL www.uvahcare.com, or through Uvah Care's mobile application.
            When you register with Uvah Care, Uvah Care asks you for your full name, email address, mobile / telephone number, birth date, location/address, gender, occupation, industry and any other information that Uvah Care believes is necessary to effectively offer the Services listed on our Website. Once you register with Uvah Care, you are not anonymous to Uvah Care.
            Uvah Care also automatically receives and records information on Uvah Care's server logs from your browser including your IP address, Uvah Care's Cookie information and the webpage you have requested to view.
            Uvah Care uses your Personally Identifiable Information to fulfil your requests for Services that you require and other offers of Uvah Care, and to contact you about any special offers and new services that Uvah Care offers, or may list on its Website at any time in the future.
            Uvah Care may also use your Personally Identifiable Information and Sensitive Personal Data or Information for internal purposes, such as auditing, data analysis and research to improve the offerings of Service on our Website and customer communications.
            Personally Identifiable Information and Sensitive Personal Data or Information that You may provide in connection with the correspondence between the You or visitor and Uvah Care over Uvah Care's chatbox, shall be used strictly to reply to inquiries or to transfer information. Uvah Care uses the information you provide to Uvah Care in order to provide you with customer service, and answer your questions. When using the support section of Uvah Care's websites, Uvah Care may collect the e-mail address, name or open ID account for the purpose of allowing contact with Uvah Care's support team. When using Uvah Care's Services Uvah Care may collect device information such as device type, operating system type and application version. Uvah Care uses this information in order to provide an optimized version of Uvah Care's applications for your device type. Please be aware Uvah Care also collects and processes data related to the use of Uvah Care's software and Services from its customers. Uvah Care may use such data for statistics purposes, to improve its Services or to create and improve new services. Uvah Care collects and processes such data collectively and anonymously.
            Information Sharing and Disclosure<br><br>
            Uvah Care will not sell or rent your Personally Identifiable Information and your Sensitive Personal Data or Information to anyone.
            Other than as specifically provided herein and for the purposes mentioned herein, Uvah Care will divulge Personally Identifiable Information about you to other companies or people or entities when:
            <br>
            Uvah Care has your specific consent to share the information, which Uvah Care will request from you, as and when the need arises;<br>
            There are any requests from any Indian or foreign government, security agencies, law enforcement agencies, and any other statutory or regulatory agencies under law in force in India;<br>
            Uvah Care will respond to any court summons, court orders or legal process; or<br>
            Uvah Care believes it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, or as otherwise required by law.<br>
            Uvah Care may transfer information about you if Uvah Care is acquired by or merged with another company. In this event, Uvah Care will notify you before information about you is transferred and becomes subject to a different privacy policy.<br>
            Uvah Care finds that you have violated the Uvah Care Terms of Use applicable to your use of the Uvah Care Website.</p>

            <h3>Collection and Use of Non-Personal Information</h3>
            <p>We also collect data in a form that does not, on its own, permit direct association with any specific individual. We may collect, use, transfer, and disclose non-personal information for any purpose. The following are some examples of non-personal information that we collect and how we may use it:
            <br>    
            We may collect information such as occupation, language, zip code, area code, unique device identifier, referrer URL, location, so that we can better understand customer behavior and improve our products, services, and advertising.<br>
            We may collect information regarding customer activities on our Website. This information is aggregated and used to help us provide more useful information to our customers and to understand which parts of our Website, and the Services listed therein are of most interest. Aggregated data is considered non-personal information for the purposes of this Privacy Policy.<br>
            We may collect and store details of how you use the Services listed on our Website, including search queries. This information may be used to improve the relevancy of results. Except in limited instances to ensure the quality of user interface of our Website, such information will not be associated with your IP address.<br>
            If we combine non-personal information with Personally Identifiable Information the combined information will be treated as Personally Identifiable Information for as long as it remains combined.</p>

            <h3>Cookies</h3> 
            <p>Uvah Care uses cookies and similar tracking technologies to track the activity on our Services and hold certain information.<br>
            Uvah Care may set and access Uvah Care Cookies on your computer.<br>
            Uvah Care may allow other companies/entities that are presenting advertisements on Uvah Care's web pages or other publishers' web pages to set and access their respective Cookies on your computer. Other companies' use of their cookies is subject to their own privacy policies, not this one. Advertisers or other companies do not have access to the Cookies of Uvah Care
            Your Ability to Edit and Delete Your Account Information and Preferences<br>
            Uvah Care gives you the ability to edit the information that is logged in when you register on Uvah Care's Website, and preferences at any time, including whether you want Uvah Care to contact you about offers etc., and any new Services that it lists on its Website in the future.</p>

            <h3>Security</h3>
            <p>Uvah Care shall store all your Personally Identifiable Information and Sensitive Personal Data on secure servers.
            In certain areas Uvah Care uses industry-standard encryption to protect data transmissions.</p>
            
            <h3>Usage Data</h3>
            <p>Uvah Care may also collect information that your browser sends whenever you visit our Website or when you access the Services by or through a mobile device ("Usage Data").
            This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Services that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
            When you access the Services by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>

            <h3>Location data</h3>
            <p>Uvah Care may use and store information about your location if you give us permission to do so ("Location Data"). Uvah Care uses this data to provide features of our Services, to improve and customize our Service.
            You can enable or disable location services when you use our Services at any time, through your device settings.
            Changes to this Privacy Policy
            Uvah Care may amend this Privacy Policy from time to time. If Uvah Care makes any substantial changes in the way Uvah Care uses your Personally Identifiable Information Uvah Care will notify you by posting a prominent announcement on Uvah Care's web pages.</p>

            <h3>Contact Us</h3>
            <p>If you have any questions about this Privacy Policy, please contact us.<br>
            By email: healthapp.innovation@gmail.com <br>
            Or by visiting this page on our website: www.uvahcare.com</p>
            <h4>Governing Laws and Jurisdiction<br>
            This Privacy Policy is governed by the laws of Republic of India without regard to conflict of laws and the Courts of Delhi, India shall exclusive jurisdiction in any matter arising from this Privacy Policy.</h4>
        </section>    
      </div>
    </div>
	<!-- Footer -->
    <footer id="footer" class="row">
        <div class="col-8 col-12-xsmall row">
          <div class="col-4 col-12-xsmall row aln-center">
            <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
            <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
            <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
          </div>

          <div class="col-3 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <li><a href="/contact"><h3>Contact Us</h3></a></li>
              <li><a href="/about"><h3>About Us</h3></a></li>
              <li><a href="/experts"><h3>Our Experts</h3></a></li>
              <!-- <li><a href=""><h3>Need Help?</h3></a></li> -->
            </ul>
          </div>
          <div class="col-4 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <!-- <li><h4>OUR TERMS</h4></li> -->
              <li><a href="/privacy-policy"><h3>Privacy Policy</h3></a></li>
              <!-- <li><a href=""><h3>Terms and conditions</h3></a></li> -->
              <li><a href="/terms-of-service"><h3>Terms of service</h3></a></li>
            </ul>
          </div>
        </div>
        
        <div class="footer-social col-4 col-12-xsmall">
          <h2>Social</h2>
          <ul class="icons actions">
            <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
            <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
            <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
          </ul>
        </div>
        <ul class="col-12 col-12-xsmall copyright">
          <li>&copy; UVAH CARE. All rights reserved.</li>
        </ul>
      </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
