<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <!-- <li><a href="./join.html" class="button primary">Join Us</a></li> -->
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style3">
      <div class="container">
        <header class="major">
          <h2>Sign In</h2>
          <p>Log into our commuinity for the fitness of your mind and body</p>
        </header>
        <section>
          <!-- <h3>Form</h3> -->
          <form action="/user/auth/signin/local" method="post">
            <div class="row aln-center aln-middle gtr-uniform gtr-75">
              <div class="row col-7 aln-center aln-middle gtr-uniform gtr-75">
                <div class="col-8 col-12-xsmall">
                  <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                </div>
                <div class="col-8 col-12-xsmall">
                  <input type="password" name="password" id="password" value="" placeholder="Password" required minlength="8"/>
                </div>
                <ul class="actions col-12">
                  <li><input type="submit" id="submit" value="Login In" class="primary" /></li>
                </ul>
              </div>
              <div class="col-12 align-center text-btw-lines">OR</div>
              <a href="/user/auth/google" class="col-3 col-12-xsmall align-center">
                <h3><strong>Sign In with GOOGLE</strong></h3>
                <img src="/images/Google.png" alt="">
              </a>
              
              <div class="col-10 align-center">
                <h4> Need An Account? <a href="/user/signup"><b>Sign Up</b></a></h4>
              </div>

              </div>
            </div>
          </form>
        </section>    
      </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="row">
      <div class="col-8 col-12-xsmall row">
          <div class="col-4 col-12-xsmall row aln-center">
              <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
              <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
              <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
          </div>

          <div class="col-3 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <li><a href=""><h3>Contact Us</h3></a></li>
              <li><a href=""><h3>About Us</h3></a></li>
              <li><a href=""><h3>Our Experts</h3></a></li>
              <li><a href=""><h3>Need Help?</h3></a></li>
            </ul>
          </div>
          <div class="col-4 col-12-xsmall pad-left">
            <ul class="actions stacked">
              <!-- <li><h4>OUR TERMS</h4></li> -->
              <li><a href=""><h3>Privacy Policy</h3></a></li>
              <li><a href=""><h3>Terms and conditions</h3></a></li>
              <li><a href=""><h3>Terms of service</h3></a></li>
            </ul>
          </div>
      </div>
      
      <div class="footer-social col-4 col-12-xsmall">
          <h2>Social</h2>
          <ul class="icons actions">
          <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
          <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
          <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
          </ul>
      </div>
      <ul class="col-12 col-12-xsmall copyright">
          <li>&copy; UVAH CARE. All rights reserved.</li>
      </ul>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">
    </form>
    <a href="/login/google">Sign in with google</a>
    <a href="/join">Sign up</a>
</body>
</html> -->