<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="/css/main.css" />
		<script src="https://kit.fontawesome.com/e2cfeba165.js" crossorigin="anonymous"></script>
  </head>
   
<body class="is-preload landing">
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo">
        <img class="logo-image" src="/images/Uvah care logo wb1-01.png" alt>
        <a href="/">UVAH CARE</a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/experts">Experts</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/user/profile" class="button primary"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></a></li>
          <li><a href="/user/logout" class="button primary">Logout</a></li>
        </ul>
      </nav>
    </header>

    <div id="main" class="wrapper style3">
      <div class="container">
        <header class="major pad-top">
          <h2>Enter Details</h2>
          <p>Enter your details to help us in helping you better </p>
        </header>
        <section>
          <!-- <h3>Form</h3> -->
          <form action="/subscribe/user-details/<%=sub_name%>" method="post">
            <div class="row aln-center aln-middle gtr-uniform gtr-75">
              <div class="row aln-center aln-middle gtr-uniform gtr-75">
                <div class="col-5 col-12-xsmall off-1">
                  <input type="text" name="name" id="name" value="<%=user.name%>" readonly required/>
                </div>
                <div class="col-5 col-12-xsmall off-1">
                  <input type="email" name="email" id="email" value="<%=user.email%>" readonly required/>
                </div>
                
                <div class="col-5 col-12-xsmall off-1">
                  <input type="tel" name="tel" id="tel" value="" placeholder="Phone no" required minlength="4"/>
                </div>
                <div class="col-5 col-12-xsmall off-1">
                  <input type="number" name="age" id="age" value="" placeholder="Age" required/>
                  <!-- <span id='message'></span> -->
                </div>
                
                <div class="col-7 col-12-xsmall">
                  <input type="text" name="profession" id="profession" value="" placeholder="Profession"/>
                </div>
                <div class="col-7 col-12-xsmall">
                  <input type="text" name="medical-problem" id="medical-problem" value="" placeholder="any Medical problem"/>
                </div>
                <div class="col-8 col-12-xsmall">
                  <select name="timming" id="category" required>
                    <option value="none" selected disabled hidden>select preferred timming</option>
                    <optgroup label="Morning">
                      <option value="5-6 AM">5-6 AM</option>
                      <option value="6-7 AM">6-7 AM</option>
                      <option value="7-8 AM">7-8 AM</option>
                    </optgroup>
                    <optgroup label="Evening">
                      <option value="5-6 PM">5-6 PM</option>
                      <option value="6-7 PM">6-7 PM</option>
                      <option value="7-8 PM">7-8 PM</option>
                    </optgroup>
                  </select>
                </div>
                <!-- <div class="col-7 col-12-xsmall">
                  <input type="text" name="profession" id="profession" value="" placeholder=""/>
                </div>
                <div class="col-7 col-12-xsmall">
                  <input type="text" name="profession" id="profession" value="" placeholder="Profession"/>
                </div> -->
              </div>
          
                <ul class="actions col-12">
                  <li><input type="submit" id="submit" value="Submit" class="primary" /></li>
                  <!-- <li><input type="reset" value="Reset" /></li> -->
                </ul>
              </div>
            </div>
          </form>
        </section>    
      </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="row">
      <div class="col-8 col-12-xsmall row">
        <div class="col-4 col-12-xsmall row aln-center">
          <div class="col-12 col-12-xsmall align-center"><h1><a>Uvah Care</a></h1></div>							
          <div class="col-9 col-12-xsmall"><span class="image fit"><img src="/images/Uvah care logo wb1-01.png"></span></div>
          <div class="col-9 col-12-xsmall"><a href=" " target="_blank"><span class="image fit"><img src="/images/google-playstore.png"></span></a></div>
        </div>

        <div class="col-3 col-12-xsmall pad-left">
          <ul class="actions stacked">
            <li><a href=""><h3>Contact Us</h3></a></li>
            <li><a href=""><h3>About Us</h3></a></li>
            <li><a href=""><h3>Our Experts</h3></a></li>
            <li><a href=""><h3>Need Help?</h3></a></li>
          </ul>
        </div>
        <div class="col-4 col-12-xsmall pad-left">
          <ul class="actions stacked">
            <!-- <li><h4>OUR TERMS</h4></li> -->
            <li><a href=""><h3>Privacy Policy</h3></a></li>
            <li><a href=""><h3>Terms and conditions</h3></a></li>
            <li><a href=""><h3>Terms of service</h3></a></li>
          </ul>
        </div>
      </div>
      
      <div class="footer-social col-4 col-12-xsmall">
        <h2>Social</h2>
        <ul class="icons actions">
          <li><a href="https://twitter.com/CareUvah?t=jb3rWQa-ldpURupJmfnQgw&s=08" class="icon"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/pages/category/Medical---Health/UvahCare-113228164180677/" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/uvah_care/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://youtube.com/channel/UCAAxT_qT81CNMlY5kEhZZeA" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
          <!-- <li><a href="#" class="icon"><i class="fa-brands fa-github"></i></a></li> -->
          <!-- <li><a href="#" class="icon"><i class="fa-solid fa-envelope"></i></a></li> -->
        </ul>
      </div>
      <ul class="col-12 col-12-xsmall copyright">
        <li>&copy; UVAH CARE. All rights reserved.</li>
      </ul>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
